In [2]:
#Converting the tsv file into pandas dataframe
import pandas as pd
df = pd.read_csv("C:\\Users\\User\\Downloads\\correct_twitter_201904.tsv", sep='\t')

In [3]:
df

,id,event,ts1,ts2,from_stream,directly_from_stream,from_search,directly_from_search,from_quote_search,directly_from_quote_search,...,retweeted,retweeted_author_id,retweeted_handle,retweeted_follower_count,mentioned_author_ids,mentioned_handles,hashtags,urls,media_keys,place_id
0,1131594960443199488,britney_201904,2022-02-28 09:34:44.627023-05:00,2022-02-28 09:34:44.627023-05:00,True,True,False,False,False,False,...,1.130918e+18,3.042894e+09,Iesbwian,22760.0,NaN,NaN,NaN,NaN,NaN,NaN
1,1131594976750653440,britney_201904,2022-02-28 09:34:44.626921-05:00,2022-02-28 09:34:44.626921-05:00,True,True,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1131589737955942405,britney_201904,2022-02-28 09:34:44.634058-05:00,2022-02-28 09:34:44.634058-05:00,True,True,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1131594909469892610,britney_201904,2022-02-28 09:34:44.627125-05:00,2022-02-28 09:34:44.627125-05:00,True,True,False,False,False,False,...,1.130918e+18,3.042894e+09,Iesbwian,22760.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1131594812694511617,britney_201904,2022-02-28 09:34:44.627227-05:00,2022-02-28 09:34:44.627227-05:00,True,True,False,False,False,False,...,1.130918e+18,3.042894e+09,Iesbwian,22760.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88032,1122977274352082944,britney_201904,2022-02-28 09:47:43.066500-05:00,2022-02-28 09:47:43.066500-05:00,True,True,False,False,False,False,...,1.122976e+18,2.934939e+09,STORMISKELLYBAG,13773.0,NaN,NaN,NaN,NaN,NaN,NaN
88033,1122977257969127429,britney_201904,2022-02-28 09:47:43.066605-05:00,2022-02-28 09:47:43.066605-05:00,True,True,False,False,False,False,...,1.118943e+18,6.137028e+08,keanuorange,1422.0,NaN,NaN,NaN,NaN,NaN,NaN
88034,1122977009347518466,britney_201904,2022-02-28 09:47:43.066708-05:00,2022-02-28 09:47:43.066708-05:00,True,True,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88035,1122976878812442626,britney_201904,2022-02-28 09:47:43.066810-05:00,2022-02-28 09:47:43.066810-05:00,True,True,False,False,False,False,...,1.122898e+18,8.468642e+17,TheBlastNews,11533.0,NaN,NaN,NaN,NaN,NaN,NaN
88036,1122976855647240203,britney_201904,2022-02-28 09:47:43.066921-05:00,2022-02-28 09:47:43.066921-05:00,True,True,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[{'end': 65, 'url': 'https://t.co/DcqjuqMJDK',...",NaN,NaN

In [4]:
# Step 1: Input the term you're searching for
term = input("Enter the term to search for: ")

# Step 2: Filtered rows where the 'text' column contains the specific term
filtered_df = df[df['text'].str.contains(term, case=False, na=False)].copy()

# --- Answering the Questions ---

# Question 1: How many tweets were posted containing the term on each day?
filtered_df.loc[:, 'date'] = pd.to_datetime(filtered_df['ts1']).dt.date
tweets_per_day = filtered_df.groupby('date')['id'].count().reset_index()
tweets_per_day.columns = ['date', 'tweet_count']
print("\nTweets containing the term on each day:")
print(tweets_per_day)

# Question 2: How many unique users posted a tweet containing the term?
unique_users = filtered_df['author_id'].nunique()
print("\nNumber of unique users who posted a tweet containing the term:", unique_users)

# Question 3: How many likes did tweets containing the term get, on average?
average_likes = filtered_df['like_count'].mean()
print("\nAverage likes for tweets containing the term:", round(average_likes, 2))

# Question 4: Where (in terms of place IDs) did the tweets come from?
tweets_by_place = filtered_df.groupby('place_id')['id'].count().reset_index()
tweets_by_place.columns = ['place_id', 'tweet_count']
print("\nTweets by place (in terms of place IDs):")
print(tweets_by_place)

# Question 5: What times of day were the tweets posted at?
filtered_df['created_at'] = pd.to_datetime(filtered_df['created_at'], errors='coerce')
filtered_df['hour'] = filtered_df['created_at'].dt.hour
tweets_by_hour = filtered_df.groupby('hour')['id'].count().reset_index()
tweets_by_hour.columns = ['hour', 'tweet_count']
print("\nTweets by time of day (hour):")
print(tweets_by_hour)

# Question 6: Which user posted the most tweets containing the term?
tweets_by_user = filtered_df.groupby('author_id')['id'].count().reset_index()
tweets_by_user.columns = ['author_id', 'tweet_count']
most_active_user = tweets_by_user.loc[tweets_by_user['tweet_count'].idxmax()]
print(f"\nUser with ID {most_active_user['author_id']} posted the most tweets containing the term, with {most_active_user['tweet_count']} tweets.")

Enter the term to search for: music

Tweets containing the term on each day:
         date  tweet_count
0  2022-01-04           66
1  2022-02-28         2935

Number of unique users who posted a tweet containing the term: 2109

Average likes for tweets containing the term: 161.41

Tweets by place (in terms of place IDs):
            place_id  tweet_count
0   001aff55522d96c9            1
1   00b673715a35dfa7            1
2   0113afc024d5e0bc            1
3   01153d1b33e1641b            1
4   0149775319466b18            1
5   01ddb0100b1efd97            1
6   01fbe706f872cb32            1
7   0570f015c264cbd9            1
8   07e9c7d1954fff64            1
9   09f6a7707f18e0b1            1
10  140800566259f12f            1
11  151b9e91272233d1            1
12  1a7a70d4a28e96a1            1
13  2b8922cbe7f16337            1
14  2bc7c264a080898b            1
15  300bcc6e23a88361            1
16  3b77caf94bfc81fe            1
17  3f7a925ec706ea48            1
18  43d2418301bf1a49            1
19  4c8e28554110ebcf            2
20  53504716d445dcad            1
21  5c62ffb0f0f3479d            1
22  5de8cffc145c486b            1
23  714789cf3b7a50d0            1
24  743df94d8dcb69a6            1
25  7cb7440bcf83d464            1
26  7de31e05e99a00f8            1
27  814cfc71b843ff40            1
28  8943f93b51e3f357            1
29  8bc4eeacf63235f9            1
30  8e9665cec9370f0f            1
31  91890dbb74364d63            1
32  9d63050d3d33d32f            1
33  ab2f2fac83aa388d            1
34  ac88a4f17a51c7fc            3
35  b49b3053b5c25bf5            1
36  d56c5babcffde8ef            1
37  de599025180e2ee7            2
38  ecbe2aea853af44e            1
39  f97108ab3c4a42ed            1

Tweets by time of day (hour):
    hour  tweet_count
0      0          135
1      1          119
2      2           89
3      3           85
4      4           99
5      5           94
6      6           70
7      7           55
8      8          107
9      9          130
10    10          151
11    11          147
12    12          122
13    13          137
14    14          152
15    15          163
16    16          120
17    17          110
18    18          146
19    19          136
20    20          159
21    21          154
22    22          166
23    23          155

User with ID 118301422 posted the most tweets containing the term, with 90 tweets.